service:
  port: 80
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi
hpa:
  enabled: false
ingress:
  enabled: false
  className: nginx
  host: webapp.local
  path: /
  annotations: {}
