replicaCount: 1
resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi
ingress:
  enabled: true
  className: nginx
  host: webapp-dev.local
  path: /
probes:
  readiness:
    enabled: true
    path: /qq
probes:
  liveness:
    path: /
probes:
  startup:
    enabled: true
    path: /
    port: 80
    failureThreshold: 30
    periodSeconds: 2
