replicaCount: 3
image:
  tag: "1.26"  #Green verision
resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
hpa:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
ingress:
  enabled: true
  className: nginx
  host: webapp-prod.local
  path: /
config:
  WELCOME_MSG: "hello from prod"
secret:
  DB_PASSWORD: "prodpass"
