service:
  port: 80
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi
hpa:
  enabled: false
ingress:
  enabled: false
  className: nginx
  host: webapp.local
  path: /
  annotations: {}
probes:
  readiness:
    path: /
    initialDelaySeconds: 3
    periodSeconds: 5
    timeoutSeconds: 2
    failureThreshold: 3

  liveness:
    path: /
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 2
    failureThreshold: 3

  startup:
    enabled: false
    path: /
    periodSeconds: 5
    failureThreshold: 12   # 12*5=60s startup window
